body{
  background: #444;
}

header {
  position: relative;
  height: 100px;
  background: #444;
  margin-bottom: -3px;
}

h1 {
  border-radius: 25px;
  position: absolute;
  width: 100%;
  display: block;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  bottom: 0;
  margin-bottom: 11px;
  background: #000;
  opacity: 0.5;
}

a {
  color: #000;
  text-decoration: none;
      margin: 92px;
}

h2{
  text-align: center;
}

nav{
  margin: 0px 378px 5px 378px;
  height: 20px;
  background: #444;
  padding-bottom: 5px;
 }

span{
  float: right;
}

.right {
  float: left;
  box-sizing: border-box;
  width: 25%;
  height: 575px;
  background: #444;
}

section{
  float: left;
  width: 50%;
  height: 616px;
  overflow: auto;
  background: #888;
  opacity: 0.5;
}

.left {
  float: left;
  box-sizing: border-box;
  width: 25%;
  height: 575px;
  background: #444;
}

div {
  margin: 5px 60px;
}

#clear {
 clear: both;
}
